In [7]:
hours = int(input("Enter hours: "))

if hours < 12:
    print("Good Morning")
elif hours < 16:
    print("Good Afternoon")
elif hours < 19:
    print("Good Evening")
else:
    print("Good Night")

Good Afternoon

In [2]:
p = "python"
#p[0] = "P"
print(p.capitalize())

Python

In [3]:
var = "James Bond"
print(var[2::-1])

maJ

In [4]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [5]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
print("Salary:", salary)
printSalary()

Salary: 8000
Salary: 12000

In [6]:
# take three values from user
name = input("Enter Employee Name: ")
salary = input("Enter salary: ")
company = input("Enter Company name: ")

# Display all values on screen
print("\n")
print("Printing Employee Details")
print("Name", "Salary", "Company")
print(name, salary, company)

Printing Employee Details
Name Salary Company
James Bond 2000 CGHQ