#### Problem 1:
- Example List: numbers = [34, 1, 23, 4, 3]
- Task: Sort the list in ascending order using the sort() function.
- Expected Output: A sorted list in ascending order, e.g., [1, 3, 4, 23, 34].

In [2]:
myNums = [34, 1, 23, 4, 3]

myNums.sort()
print(myNums)

[1, 3, 4, 23, 34]

#### Problem 2:
- Example List: fruits = ['apple', 'banana', 'cherry', 'date']
- Task: Sort the list in descending order using the sorted() function.
- Expected Output: A list sorted in descending order, e.g., ['date', 'cherry', 'banana', 'apple'].

In [4]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.sort(reverse = True)

print(fruits)

['date', 'cherry', 'banana', 'apple']

In [5]:
fruits = ['apple', 'banana', 'cherry', 'date']
sorted_fruit = sorted(fruits, reverse = True)
print(f"{sorted_fruit}")

['date', 'cherry', 'banana', 'apple']

#### Problem 3:
- Example List: numbers = [42, 19, 73, 11, 65]
- Task: Find the maximum and minimum values using the max() and min() functions.
- Expected Output: The maximum value, e.g., 73, and the minimum value, e.g., 11.

In [7]:
numbers = [42, 19, 73, 11, 65]

maxNum = max(numbers)
minNum = min(numbers)

print(maxNum)
print(minNum)

73
11

#### Problem 4:
- Example List: names = ['Alice', 'Bob', 'Charlie', 'Diana']
- Task: Reverse the order of the list using the reverse() function.
- Expected Output: A list with the order reversed, e.g., ['Diana', 'Charlie', 'Bob', 'Alice'].

In [9]:
names = ['Alice', 'Bob', 'Charlie', 'Diana']
names.reverse()

print(names)

['Diana', 'Charlie', 'Bob', 'Alice']

#### Problem 5:
- Example Lists: list1 = [1, 2, 3], list2 = [4, 5, 6]
- Task: Merge the two lists into one using the extend() function.
- Expected Output: A combined list, e.g., [1, 2, 3, 4, 5, 6].

In [2]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

print(f'{list1}')

[1, 2, 3, 4, 5, 6]

#### Problem 6:
- Example List: numbers = [5, 3, 8, 3, 5, 2]
- Task: Remove the duplicates and sort the list.
- Expected Output: A sorted list without duplicates, e.g., [2, 3, 5, 8].

In [13]:
numbers = [5, 3, 8, 3, 5, 2]

new_numbers = set(numbers)
sorted_numbers = sorted(new_numbers)

print(sorted_numbers)

[2, 3, 5, 8]

#### Problem 7:
- Example List: mixed = [23, 'apple', 42.5, 'banana', 11]
- Task: Sort only the numeric values in ascending order.
- Expected Output: A sorted list of numeric values, e.g., [11, 23, 42.5].

In [15]:
mixed = [23, 'apple', 42.5, 'banana', 11]

#filter only numeric values
numeric_values = [x for x in mixed if isinstance(x,(int, float))]
#sort the list
sorted_list = sorted(numeric_values)
                  
print(sorted_list)

[11, 23, 42.5]

#### Problem 8:
- Example List: words = ['table', 'chair', 'laptop', 'cupboard']
- Task: Find the word with the maximum length.
- Expected Output: The word with the maximum length, e.g., 'cupboard'.

In [56]:
words = ['table', 'chair', 'laptop', 'cupboard']
max_word = max(words, key=len)

print(max_word)

cupboard

#### Problem 9:
- Example List: people = [('Alice', 30), ('Bob', 25), ('Charlie', 35)]
- Task: Sort the list by age.
- Expected Output: A list of tuples sorted by age, e.g., [('Bob', 25), ('Alice', 30), ('Charlie', 35)].

In [19]:
people = [('Alice', 30), ('Bob', 25), ('Charlie', 35)]
ppl_sort = sorted(people, key=lambda x:x[1])

print(ppl_sort)

[('Bob', 25), ('Alice', 30), ('Charlie', 35)]

#### Problem 10:
- Example List: numbers = [2, 4, 6]
- Task: Add the number 8 to the end of the list using the append() function.
- Expected Output: A list with the number 8 added, e.g., [2, 4, 6, 8].

In [46]:
numbers = [2, 4, 6]
numbers.append(8)

print(numbers)

[2, 4, 6, 8]

## Dictionaries
#### Problem 11:
- Example Dictionary: person = {'name': 'Alice', 'age': 30}
- Task: Retrieve the value associated with the key 'name' using the get() function.
- Expected Output: The value 'Alice'.

In [50]:
person = {'name': 'Alice', 'age': 30}
#retrieve the value for the key 'name'
name = person.get('name')
age = person.get('age')

print(name)  #print output
print(age)    #prints age

Alice
30

#### Problem 12:
- Example Dictionary: scores = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
- Task: Add a new key-value pair ('Diana', 88) to the dictionary.
- Expected Output: The updated dictionary, e.g., {'Alice': 90, 'Bob': 85, 'Charlie': 92, 'Diana': 88}.

In [54]:
scores = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
new_person = {'Diana': 88}
scores.update(new_person)

print(scores)

{'Alice': 90, 'Bob': 85, 'Charlie': 92, 'Diana': 88}

#### Problem 13:
- Example Dictionary: inventory = {'apples': 5, 'bananas': 2, 'oranges': 3}
- Task: Update the value of the key 'bananas' to 6.
- Expected Output: The updated dictionary, e.g., {'apples': 5, 'bananas': 6, 'oranges': 3}.

In [60]:
inventory = {'apples': 5, 'bananas': 2, 'oranges': 3}
new_value = {'bananas': 6}
inventory.update(new_value)

print(inventory)

{'apples': 5, 'bananas': 6, 'oranges': 3}

#### Problem 14:
- Example Dictionary: student = {'name': 'Bob', 'age': 20, 'grade': 'A'}
- Task: Remove the key 'grade' from the dictionary.
- Expected Output: The dictionary without the 'grade' key, e.g., {'name': 'Bob', 'age': 20}.

In [68]:
student = {'name': 'Bob', 'age': 20, 'grade': 'A'}
student.pop('grade')

print(student)

{'name': 'Bob', 'age': 20}

#### Problem 15:
- Example Dictionary: points = {'A': 1, 'B': 3, 'C': 5}
- Task: Check if the key 'D' exists in the dictionary using the in operator.
- Expected Output: A boolean value indicating whether 'D' exists

In [70]:
points = {'A': 1, 'B': 3, 'C': 5}
result = 'D' in points

print(result)

False

#### Problem 16:
- Example Dictionary: car = {'make': 'Toyota', 'model': 'Corolla', 'year': 2015}
- Task: Retrieve all the keys from the dictionary using the keys() function.
- Expected Output: A list or view of all the keys, e.g., ['make', 'model', 'year'].

In [76]:
car = {'make': 'Toyota', 'model': 'Corolla', 'year': 2015}
car_keys = car.keys()

print(car_keys)

dict_keys(['make', 'model', 'year'])

#### Problem 17:
- Example Dictionary: grades = {'Alice': 'A', 'Bob': 'B', 'Charlie': 'C'}
- Task: Retrieve all the values from the dictionary using the values() function.
- Expected Output: A list or view of all the values, e.g., ['A', 'B', 'C'].

In [78]:
grades = {'Alice': 'A', 'Bob': 'B', 'Charlie': 'C'}
values = grades.values()

print(values)

dict_values(['A', 'B', 'C'])

#### Problem 18:
- Example Dictionary: capitals = {'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome'}
- Task: Merge another dictionary {'Spain': 'Madrid'} into the original dictionary.
- Expected Output: The merged dictionary, e.g., {'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome', 'Spain': 'Madrid'}.

In [80]:
capitals = {'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome'}
new_capital =  {'Spain': 'Madrid'}
capitals.update(new_capital)

print(capitals)

{'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome', 'Spain': 'Madrid'}

#### Problem 19:
- Example Dictionary: person = {'name': 'Charlie', 'age': 30}
- Task: Create a copy of the dictionary using the copy() function.
- Expected Output: A new dictionary that is a copy of the original, e.g., {'name': 'Charlie', 'age': 30}.

In [86]:
person = {'name': 'Charlie', 'age': 30}
new_person = person.copy()

print(new_person)

{'name': 'Charlie', 'age': 30}

#### Problem 20:
- Example Dictionary: items = {'pen': 1, 'notebook': 3, 'eraser': 2}
- Task: Clear all the items from the dictionary using the clear() function.
- Expected Output: An empty dictionary, e.g., {}.

In [88]:
items = {'pen': 1, 'notebook': 3, 'eraser': 2}
items.clear()

print(items)

{}