### Lists
 In Python, a list is like a dynamic shopping list. It's a collection of items that can be changed (or mutable) and has a specific order.

###  1 Math operation with placeholders

Perform a math operation in the placeholder, and return the result

In [3]:
txt = f"The price is {20*35:.3f} dollars"
print(txt)

The price is 700.000 dollars

### 2
Add Taxes before displaying final  if price is £106.37 and taxes are 25%

In [5]:
price = 106
tax = (25*1/100)

txt = f"The total price is £{price + (price*tax):.2f}"
print(txt)

The total price is £132.50

### 3
Return "Expensive" if the price is over 50, otherwise return "Cheap": Use if ..... else statements

price = 18
txt = f"It's very {'Expensive' if price > 50 else 'Cheap'}"

print(txt)

### 4
Functions can executed in the placeholder. The function need not be a built-in Python method.
Use the string method upper()to convert a value into upper case letters:

In [9]:
car_model = "toyota"
txt = f"One major auto maker is {car_model.upper()}"
print(txt)

One major auto maker is TOYOTA

### 5
Create a function that converts feet into meters:

In [11]:
def myconverter(x):
    return x * 0.3048

txt = f"The balloon flew at {myconverter(55000)}m altitude"

print(txt)

The balloon flew at 16764.0m altitude

### 6
Use comma as separator.

In [13]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

### 7
Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

In [15]:
txt = f"The temperature is between {-3: } and {7: } degrees celsius."

print(txt)

The temperature is between -3 and  7 degrees celsius.

In [16]:
#Use "%" to convert the number into a percentage format:

txt = f"You scored {0.25:%}"
print(txt)

#Or, without any decimals:

txt = f"You scored {0.25:.0%}"
print(txt)

You scored 25.000000%
You scored 25%

### 8 
You can customize your own function by using the keyword argument key = function.
The function will return a number that will be used to sort the list (the lowest number first):

In [18]:
#Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [19]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [20]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

### Tuple
Tuples: Ordered, Immutable Collections
Imagine a shopping list. You might write down "apples," "milk," and "bread." Each item on this list is a separate entity, but together they form a collection. In programming, a tuple is like a shopping list, but it's a specific data structure that has some rules:
Ordered: The items in a tuple have a specific order. Just like on your shopping list, the first item is "apples," the second is "milk," and so on.
Immutable: Once you create a tuple, you cannot change its contents. It's like a sealed bag; once it's closed, you can't add or remove items.

In Summary
Tuples are ordered collections of elements.
Tuples are immutable, meaning their contents cannot be changed once created.
Tuples are often used to group related data together or as keys in dictionaries.

In [22]:
my_tuple = ("apple", "milk", "bread")
print(my_tuple)

('apple', 'milk', 'bread')

### changing tuple values (workaround)
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tupel

In [24]:
x = ("apple", "banana", "cherry", "mango")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry', 'mango')

### Method 1. adding items to a tuple (workaround)
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuplmple

In [26]:
fruits = ("apple", "banana", "cherry")
y = list(fruits)
y.append("orange")
fruits = tuple(y)

print(fruits)

('apple', 'banana', 'cherry', 'orange')

### Method 2. adding tuple to a tuple (workaround)

In [28]:
thistuple = ("Ford", "Toyota", "BMW", "Peugeot")
y = ("Pontiac",)
thistuple += y

print(thistuple)

('Ford', 'Toyota', 'BMW', 'Peugeot', 'Pontiac')

### Remove Items from a tuple (workaround)
Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as for changing and adding tuple items:

In [30]:
colors = ("blue", "yellow", "orange", "green")
y = list(colors)
y.remove("yellow")
colors = tuple(y)

print(colors)

('blue', 'orange', 'green')

### delete tuple using del

In [32]:
thistuple = (1, 2, 3, 4, 5)
#del thistuple

print(thistuple) #raises error because tuple no longer exists

(1, 2, 3, 4, 5)

### Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [34]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using * Asterisk
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [36]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

### If the asterisk is added to another variable name than the last, 
Python will assign values to the variable until the number of values left matches the number of variables left.

In [38]:
#add a list of values to the "summer" variable:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *summer, red) = fruits

print(green)
print(summer)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

### Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [40]:
#Iterate through the items and print the values:
mytuple = ("apple", "banana", "cherry", "avocado")
for x in mytuple:
    print(x)

apple
banana
cherry
avocado

### Loop Through the Index Numbers
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [42]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

### Using a While Loop
You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexe.

Remember to increase the index by 1 after each iteration.

In [44]:
mytuple = ("Anglia", "Mercedes", "Citroen", "Tesla", "Nissan", "Ssangyong")
i = 0
while i < len(mytuple):
    print(mytuple[i])
    i = i + 1

Anglia
Mercedes
Citroen
Tesla
Nissan
Ssangyong

In [45]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

### Join Two Tuples
To join two or more tuples you can use the + operator:

In [47]:
tuple1 = ("me", "myself", "I")
tuple2 = ("you", "yourself", "her")

joined_tuple = tuple1 + tuple2

print(joined_tuple)

('me', 'myself', 'I', 'you', 'yourself', 'her')

### Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [49]:
fruits = ("apple", "banana", "cherry")
newtuple = fruits * 2

print(newtuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Tuple Methods
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

### Python Sets
-Sets are used to store multiple items in a single variable.
-Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.-A set is a collection which is unordered, unchangeable*, and undenixen-
-Unordered means that the items in a set do not have a defined orr.d--
Set items can appear in a different order every time you use them, and cannot be referred to by in.r-e
-Set items are unchangeable, meaning that the items cannot change after the set has been creeat-.
-Once a set is created, you cannot change its items, but you can remove items and add new mite-.
-Sets cannot have two items with the same uesva--
Set items can be of any data typ. A set can contain different data typs:
-From Python's perspective, sets are defined as objects with the data typeed.

In [2]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'apple', 'banana'}

In [104]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

### True = 1, False = 0
The values True and 1 are considered the same value in sets, and are treated as duplicates:
The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [55]:
myset = {"apple", "banana", "cherry", True, 1, 2, False, 0, 3, 5}

print(myset)

{False, True, 2, 3, 'banana', 'apple', 5, 'cherry'}

### Get the Length of a Set
To determine how many items a set has, use the len() function.

In [57]:
myset = {"apple", "banana", "cherry", True, 1, 2, False, 0, 3, 5, "banana"} # remember duplicates are ignored

print(len(myset))

8

### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [106]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

### Access Items
You cannot access items in a set by referring to an index or a key.
But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [4]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry", "mango", "peach"}

for x in thisset:
  print(x)

peach
banana
cherry
apple
mango

In [62]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry", "mango", "peach"}

print("banana" in thisset)

True

In [63]:
#Check if "banana" is not present in the set:
thisset = {"apple", "banana", "cherry", "mango", "peach"}

print("banana" not in thisset)

False

### Add Items
Once a set is created, you cannot change its items, but you can add new items

To add one item to a set use the add() method.

In [12]:
flowers ={"orchid", "marigold", "tulip"}
flowers.add("lily")

print(flowers)

flowers.add("rose")
print(flowers)

{'marigold', 'lily', 'orchid', 'tulip'}
{'rose', 'marigold', 'lily', 'orchid', 'tulip'}

### Add Sets
To add items from another set into the current set, use the update() method.

In [16]:
#Add elements from africa into world:
world ={"France", "Indonesia", "Bahamas", "Columbia", "Canada", "Italy", "Czechia"}
africa = {"Mali", "Zimbabwe", "Botswana", "Ethiopia"}

world.update(africa)

print(world)

{'France', 'Zimbabwe', 'Mali', 'Ethiopia', 'Italy', 'Canada', 'Bahamas', 'Indonesia', 'Botswana', 'Czechia', 'Columbia'}

### Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [18]:
#Add elements of a list to the set.

world ={"France", "Indonesia", "Bahamas", "Columbia", "Canada", "Italy", "Czechia"}
capitals = ["Lisbon", "Addis Ababa", "Jerusalem", "Pretoria"]

world.update(capitals)
print(world)

{'France', 'Jerusalem', 'Canada', 'Bahamas', 'Pretoria', 'Indonesia', 'Addis Ababa', 'Italy', 'Czechia', 'Lisbon', 'Columbia'}

### Remove Item
To remove an item in a set, use the remove(), or the discard() method TAKES only one argument at a time..

In [26]:
#Remove "Italy" and "France" from wolrd
world = {'France', 'Jerusalem', 'Canada', 'Bahamas', 'Pretoria', 'Indonesia', 'Addis Ababa', 'Italy', 'Czechia', 'Lisbon', 'Columbia'}

world.remove("France")
world.discard("Italy")
world.discard("Malawi") #If item does not exist, discard will NOT raise an error

print(world)

{'Czechia', 'Jerusalem', 'Addis Ababa', 'Canada', 'Bahamas', 'Indonesia', 'Pretoria', 'Lisbon', 'Columbia'}

### pop() method
You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.
The return value of the pop() method is the removed item.

In [28]:
world = {'Czechia', 'Jerusalem', 'Addis Ababa', 'Canada', 'Bahamas', 'Indonesia', 'Pretoria', 'Lisbon', 'Columbia'}
world.pop() #Will remove a random item
print(world)

{'Addis Ababa', 'Canada', 'Bahamas', 'Pretoria', 'Indonesia', 'Czechia', 'Lisbon', 'Columbia'}

The clear() method empties the set:
The del keyword will delete the set completely:

In [30]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [ ]:
fruits = {"apple", "banana", "cherry"}
del fruits

print(fruits) #generates an error because the set no longer exists

### Loop Items
You can loop through the set items by using a for loop:

In [32]:
#Loop through the set, and print the values:

fruits = {"apple", "banana", "cherry", "apricot"}

for x in fruits:
    print(x)

banana
cherry
apricot
apple

### Join Sets
There are several ways to join two or more sets in Python

The union() and update() methods joins all items from both ses.

The intersection() method keeps ONLY the duplictes.

The difference() method keeps the items from the first set that are not in the other et(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [34]:
#The union() method returns a new set with all items from both sets.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 'b', 'c', 3}

In [38]:
#You can use the | operator instead of the union() method, and you will get the same result.
countries ={"France", "Indonesia", "Bahamas", "Columbia", "Canada", "Italy", "Czechia"}
capitals = {"Lisbon", "Addis Ababa", "Jerusalem", "Pretoria"}

world = countries | capitals

print(world)

{'France', 'Jerusalem', 'Addis Ababa', 'Italy', 'Canada', 'Bahamas', 'Pretoria', 'Indonesia', 'Czechia', 'Lisbon', 'Columbia'}

Join Multiple Sets
All the joining methods and operators can be used to join multiple sets

When using a method, just add more sets in the parentheses, separated by commas:

In [40]:
africa = {"Mali", "Zimbabwe", "Botswana", "Ethiopia"}
cars = {"Ford", "BMW", "Tesla"}
letters = {"a", "b", "c", "d"}
numbers = {1, 2, 3, 4, 5, 2, 3}
names = {"Emma", "John", "Donna"}

new_set = africa.union(cars, letters, names)
print(new_set)

another_set = africa | cars | letters | names | numbers
print(another_set)

{'Zimbabwe', 'a', 'c', 'Mali', 'Ethiopia', 'Emma', 'd', 'b', 'Botswana', 'Tesla', 'Donna', 'BMW', 'Ford', 'John'}
{1, 'Zimbabwe', 'a', 'c', 2, 3, 4, 5, 'Mali', 'Botswana', 'Tesla', 'Donna', 'BMW', 'Ethiopia', 'Emma', 'b', 'd', 'Ford', 'John'}

### Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples

The result will be a s
Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.et.

In [44]:
#Join a set with a tuple:
x = {"a", "b", "c"}
y = (1, 2, 3)

z  = x.union(y)
print(z)

{1, 2, 'a', 'c', 3, 'b'}

### Update
The update() method inserts all items from one set into another

The update() changes the original set, and does not return a new s
Note: Both union() and update() will exclude any duplicate items.et.

In [48]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'a', 'b', 'c', 3}

### Intersection
Keep ONLY the duplicate

The intersection() method will return a new set, that only contains the items that are present in both se
You can use the & operator instead of the intersection() method, and you will get the same result
## Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.
The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.ts.

In [50]:
fruits = {"apple", "banana", "cherry"}
tech_giants = {"google", "microsoft", "apple"}

set3 = fruits.intersection(tech_giants)
print(set3)

{'apple'}

In [52]:
fruits = {"apple", "banana", "cherry"}
tech_giants = {"google", "microsoft", "apple"}

set3 = fruits & tech_giants
print(set3)

{'apple'}

In [54]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [56]:
#Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:
set1 = {"apple", 1, "rose", "banana", 0, "cherry"}
set2 = {False, 1, "google", "apple", 2, True}

set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

### Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set
You can use the - operator instead of the difference() method, and you will get the same result.
Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.
The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set..

In [58]:
#Keep all items from set1 that are not in set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [62]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

### The difference_update() method 
will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [64]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

### Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets
You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method..

In [66]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'cherry', 'microsoft'}

In [68]:
#Use the ^ operator to join two sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'cherry', 'microsoft'}

### The symmetric_difference_update() method 
will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [70]:
#Use the symmetric_difference_update() method to keep the items that are not present in both sets:
cars = {"tesla", "jaguar", "cherry", "mustang"}
animals = {"mustang", "lion", "jaguar"}

cars.symmetric_difference_update(animals)

print(cars)

{'lion', 'cherry', 'tesla'}

### Method	Shortcut	Description
add()	 	Adds an element to the se

clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdioint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this s        et or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another         set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from theet
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and  another
union()	|	Return a set containing the unio  of sets
update()	|=	Update the set with the union of this set and others