In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import missingno as msno

### 40- Introduction to Data Cleaning and Data Types (Python-Based)

#### 1.0 Data Cleaning

#### 1.1 What is Data Cleaning?
- Data Cleaning is the process of detecting and correcting (or removing) incorrect, incomplete, or irrelevant data from a dataset to improve data quality.

#### 1.2 Why is Data Cleaning Important?
- Accuracy: Clean data leads to more accurate insights and predictions.
- Reliability: Consistent and reliable data builds trust in your analysis.
- Efficiency: Spending time cleaning data upfront saves time and effort later.
- Better Decision Making: Clean data supports informed decision-making.

#### 1.3 The Data Cleaning Process:
- Identify Data Issues: 
      - Understanding the types of problems in the data (missing values, duplicates, inconsistencies).
- Handle Missing Values: 
      - Deciding how to deal with missing data, missing values and outliers (imputation, removal).
- Remove Duplicates: 
      - Identifying and removing duplicate and inconsistent data records.
- Correct Inconsistent Data: 
      - Standardizing formats, correcting typos, and resolving inconsistencies improves model performance in machine learning.
- Validate Data: 
      - Ensuring the cleaned data meets quality standards, accuracy and reliability.

#### 1.4 Example:
- Take for instance, customer data with inconsistent phone number formats (e.g., "(123) 456-7890", "123-456-7890", "123.456.7890").
- Data cleaning would involve standardizing these formats to a single consistent one.

#### 2.0: Data Types in Python:

#### 2.1 Introduction to Data Types:
- Data types define the kind of values a variable can hold.
- Numeric: int(integers), float(floating-point numbers), complex (complex numbers)
- String: (text)
- Boolean: (True or False)
- Sequence: (list, tuple, range)
- Mapping: dict(dictionaries)

#### 2.2 Numeric Types

In [4]:
# Numeric Types:
age = 30 # int
price = 99.99 # float
complex_num = 2 +3j # complex

# Strings
name = 'Bond, James Bond'
sms = 'Hello, World!'

# Booleans
is_mossad_agent = False #bool
is_licensed_to_kill = True #bool

# Tuples
my_tuple = (1, 2, 'agent')
# my_tuple[1] = 5 # will trigger an error because tuples are immutable

# Dictionaries: Key-Value pairs
my_dict = {'name': 'James',
           'surname': 'Bond',
           'age': 32,
           'employer': 'GCHQ'
           }

print(my_dict['name']) #prints James

# Sets: Unordered collections of unique elements
my_bunch = {2, 4, 1, 2, "James", "Bond", "Jane", "Bond", 5, 3, 3}
print(my_bunch) # {1, 2, 3, 4, 5, 'James', 'Bond', 'Jane'}

James
{1, 2, 3, 4, 5, 'Jane', 'Bond', 'James'}

#### 40.3 Type Conversion
- Data can be converted between types.

In [5]:
age = 50
age_str = str(age)
print(age_str) # int 50 is converted to a string

price = 10.99
price_int = int(price)
print(price_int) # converts price((float) to an integer (truncates)

50
10

### 3.0 Handling Missing Data

#### 3.1 Identifying missing Data:

- Using Pandas to identify missing values (represented by NaN - Not a Number)

In [6]:
import pandas as pd
data = {'A': [1, 2, None, 4], 'B':[5, None, 7, 8]}
df = pd.DataFrame(data)
print(df.isnull()) #prints True for missing values and False otherwise
print(df.isna().sum()) # prints the number of missing values in each column

       A      B
0  False  False
1  False   True
2   True  False
3  False  False
A    1
B    1
dtype: int64

#### 3.2 Handling Missing Data:
- Deletion: Removing rows or columns with missing values.

In [ ]:
df.dropna() #removes rows with any missing values.
df.dropna(axis=1) # removes columns with any missing values.
df.dropna(subset=['A']) # removes rows where column 'A' has missing values

In [11]:
my_agents = {'agent_1': [30, 'James', 'Bond', 'MI6', 17, 1990],
             'agent_2': [35, 'Jane', 'Bond', 'MI6', None, 1995],
             'agent_3': [40, 'John', 'Doe', 'CIA', 5, 1995],
             }

#dictionary named my_agents is defined. The dictionary has three keys: 'agent_1', 'agent_2', and 'agent_3'. 
# Each key is associated with a list of values representing different attributes of the agents:
#The list of keys can be replaced with the index parameter to specify the row labels of the DataFrame:

df_agents = pd.DataFrame(my_agents, index=['age', 'name', 'surname', 'employer', 'years_in_service', 'year_of_birth']) 
# creates a DataFrame from the dictionary and rows are labeled with the index parameter

df_agents

                 agent_1 agent_2 agent_3
age                   30      35      40
name               James    Jane    John
surname             Bond    Bond     Doe
employer             MI6     MI6     CIA
years_in_service      17    None       5
year_of_birth       1990    1995    1995

In [ ]:
#df_agents.dropna() # removes rows with any missing values

              agent_1 agent_2 agent_3
age                30      35      40
name            James    Jane    John
surname          Bond    Bond     Doe
employer          MI6     MI6     CIA
year_of_birth    1990    1995    1995

In [27]:
#Lets add a new agent to the DataFrame Method 1
new_agent = {'agent_4': [ 45, 'Eve', 'Monepenny', None, 15, 1975]}

#create a new DataFrame from the new_agent dictionary
df_new_agent = pd.DataFrame(new_agent, index=['age', 'name', 'surname', 'employer', 'years_in_service', 'year_of_birth'])

#concatentate the new DataFrame with the original DataFrame
df_agents = pd.concat([df_agents, df_new_agent], axis=1)

df_agents

                 agent_1 agent_2 agent_3    agent_5    agent_5    agent_4
age                   30      35      40         45         45         45
name               James    Jane    John        Eve        Eve        Eve
surname             Bond    Bond     Doe  Monepenny  Monepenny  Monepenny
employer             MI6     MI6     CIA       None       None       None
years_in_service      17    None       5         15         15         15
year_of_birth       1990    1995    1995       1975       1975       1975

In [ ]:
#df_agents.drop(columns=['agent_5'], inplace =True) # removes columns with any missing values

df_agents

                 agent_1 agent_2 agent_3    agent_4
age                   30      35      40         45
name               James    Jane    John        Eve
surname             Bond    Bond     Doe  Monepenny
employer             MI6     MI6     CIA       None
years_in_service      17    None       5         15
year_of_birth       1990    1995    1995       1975

#### 3.3 Imputation Filling in missing values.
- Mean/Median Imputation: Filling with the mean or median of the column.

In [ ]:
#df['A'].fillna(df['A'].mean(), inplace = True) # Fills missing values in column A and ONLY in column A. THIS METHOD has now been depricated.

#Preferred method, allows for filling missing values in multiple columns.
df.fillna({'A': df['A'].mean(), 'B': df['B'].mean()}, inplace = True)
print(df)

          A         B
0  1.000000  5.000000
1  2.000000  6.666667
2  2.333333  7.000000
3  4.000000  8.000000

In [32]:
#Add a new value to replace a missing value to 'agent_2' in the 'years_in_service' column

# Calculate the mean value for the 'years_in_service' column, ignoring NaN values
mean_years_in_service = df_agents.loc['years_in_service'].mean()

# Replace the NaN value in 'agent_2' for the 'years_in_service' row with the calculated mean
df_agents.loc['years_in_service', 'agent_2'] = int(mean_years_in_service.round())

# Display the updated DataFrame
df_agents

                 agent_1 agent_2 agent_3    agent_4
age                   30      35      40         45
name               James    Jane    John        Eve
surname             Bond    Bond     Doe  Monepenny
employer             MI6     MI6     CIA       None
years_in_service      17      12       5         15
year_of_birth       1990    1995    1995       1975